html, body {
  padding:0;
  margin:0;
}

.quiz-container {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.quiz-container table tr td {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-gap: 24px;
}

.quiz-container table tr td strong {
  display: block;
  color: #41414d;
  font-size: 16px;
}

.quiz-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.quiz-container ul li {
  padding: 16px;
  position: relative;
}

.quiz-container button {
  background-color: #4682b4;
}

.quiz-container input, .volume {
  cursor: pointer;
}

.quiz-container .volume {
  color: #0b5e86;
}

.quiz-container .volume:hover {
  filter:brightness(90%);
}

/* LIKET SCALE CSS */

h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}

form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}

form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}

form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}

form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;} 
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;} 

form .likert:nth-child(4n) {
  background-color: black;
}

