.conteudo-container {
    width: 100%;
    max-width: 1120px;
    min-width: 1050px;
    margin: 0 auto;
}
 
.conteudo-container .container {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.conteudo-container .container .article-conteudo {
  justify-content: space-between;
  align-items: center;
}

.conteudo-container .container .article-conteudo article {
  width: 100%;
  max-width: 1050px;
}

.conteudo-container .container .article-conteudo p {
  text-align: justify;
}

.conteudo-container .container img {
  height: 448px;
}
